/* ----- Global Variables ----- */
:root {
  /* ----- Fonts ----- */
  /* Google - Fonts Roboto */
  --roboto-font-family: 'Roboto', sans-serif;
  --roboto-regular: 400;
  --roboto-bold: 700;

  /* Google Fonts - Source Code Pro */
  --sourcecodepro-font-family: 'Source Code Pro', monospace;
  --sourcecodepro-bold: 700;

  /* ----- Colors ----- */
  /* 
    Text readability contrast checks
    BG: main (#FAFAFA), FG: secondary (#333)
    contrast AAA passed (12.1 ratio)
    greyscale rating passed (597 color diff) 
  */
  /* 
    Headings & accent buttons readability contrast checks
    BG: accent (#000) , FG: main (#FAFAFA)
    contrast AAA passed (20.12 ratio)
    greyscale rating passed (750 color diff)
  */
  --main-color: #fafafa;
  --secondary-colof: #333;
  --accent-color: #000;
}

/* ----- Styles ----- */

/*
  Hides an element, whilst keeping it available to assistive technologies
  Refer to W3C:
  https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
*/
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
