/* ----- Global Variables ----- */
:root {
  /* ----- Fonts ----- */
  --roboto-font-family: 'Roboto', sans-serif;

  /* ----- Colors ----- */
  /* 
    Text readability contrast checks
    BG: main (#FAFAFA), FG: secondary (#333)
    contrast AAA passed (12.1 ratio)
    greyscale rating passed (597 color diff) 
  */
  /* 
    Headings & accent buttons readability contrast checks
    BG: accent (#000) , FG: main (#FAFAFA)
    contrast AAA passed (20.12 ratio)
    greyscale rating passed (750 color diff)
  */
  --main-color: #fafafa;
  --secondary-colof: #333;
  --accent-color: #000;
}

/* ----- Styles ----- */

/* Visually hide associated icon span tags. These span elements are intended for screen readers. */
/* Using this over aria-label element attribute, so screen reader aria support not required */
.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); /* IE 6 and 7 */
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}
